IRGT/App_WebReferences/IRGT_Service/Budget_Asset.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getMasterData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMasterDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMasterDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Type_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_AssetByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetByID_Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Type_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetByID_CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBudget_AssetByID_CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetSummaryByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetSummaryByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_AssetSummaryByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adjustBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Qty_Adj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Price_Adj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adjustBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="adjustBudget_AssetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Asset_List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loc_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Asset_ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_Asset_ListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Asset_List_Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loc_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Asset_List_CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBudget_Asset_List_CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_AssetDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Type_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_AssetResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Asset_Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Type_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Asset_CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBudget_Asset_CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkBudget_AssetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Type_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Qty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setBudget_AssetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setBudget_AssetRemark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Type_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BA_Remark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setBudget_AssetRemarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setBudget_AssetRemarkResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteBudget_AssetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendBudget_AssetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="confirmBudget_AssetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="approveBudget_Asset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BA_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="approveBudget_AssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="approveBudget_AssetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_AssetSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_AssetSummaryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getMasterDataSoapIn">
    <wsdl:part name="parameters" element="tns:getMasterData" />
  </wsdl:message>
  <wsdl:message name="getMasterDataSoapOut">
    <wsdl:part name="parameters" element="tns:getMasterDataResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_AssetByID" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_AssetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetByID_CountSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_AssetByID_Count" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetByID_CountSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_AssetByID_CountResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetSummaryByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_AssetSummaryByID" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetSummaryByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_AssetSummaryByIDResponse" />
  </wsdl:message>
  <wsdl:message name="adjustBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:adjustBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="adjustBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:adjustBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_Asset_ListSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Asset_List" />
  </wsdl:message>
  <wsdl:message name="getBudget_Asset_ListSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_Asset_ListResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_Asset_List_CountSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Asset_List_Count" />
  </wsdl:message>
  <wsdl:message name="getBudget_Asset_List_CountSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_Asset_List_CountResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_AssetDetail" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_AssetDetailResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_Asset_CountSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Asset_Count" />
  </wsdl:message>
  <wsdl:message name="getBudget_Asset_CountSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_Asset_CountResponse" />
  </wsdl:message>
  <wsdl:message name="checkBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:checkBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="checkBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:checkBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="setBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:setBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="setBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:setBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="setBudget_AssetRemarkSoapIn">
    <wsdl:part name="parameters" element="tns:setBudget_AssetRemark" />
  </wsdl:message>
  <wsdl:message name="setBudget_AssetRemarkSoapOut">
    <wsdl:part name="parameters" element="tns:setBudget_AssetRemarkResponse" />
  </wsdl:message>
  <wsdl:message name="deleteBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:deleteBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="deleteBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:deleteBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="sendBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:sendBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="sendBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:sendBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="confirmBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:confirmBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="confirmBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:confirmBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="approveBudget_AssetSoapIn">
    <wsdl:part name="parameters" element="tns:approveBudget_Asset" />
  </wsdl:message>
  <wsdl:message name="approveBudget_AssetSoapOut">
    <wsdl:part name="parameters" element="tns:approveBudget_AssetResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetSummarySoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_AssetSummary" />
  </wsdl:message>
  <wsdl:message name="getBudget_AssetSummarySoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_AssetSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="Budget_AssetSoap">
    <wsdl:operation name="getMasterData">
      <wsdl:input message="tns:getMasterDataSoapIn" />
      <wsdl:output message="tns:getMasterDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetByID">
      <wsdl:input message="tns:getBudget_AssetByIDSoapIn" />
      <wsdl:output message="tns:getBudget_AssetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetByID_Count">
      <wsdl:input message="tns:getBudget_AssetByID_CountSoapIn" />
      <wsdl:output message="tns:getBudget_AssetByID_CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetSummaryByID">
      <wsdl:input message="tns:getBudget_AssetSummaryByIDSoapIn" />
      <wsdl:output message="tns:getBudget_AssetSummaryByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="adjustBudget_Asset">
      <wsdl:input message="tns:adjustBudget_AssetSoapIn" />
      <wsdl:output message="tns:adjustBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_List">
      <wsdl:input message="tns:getBudget_Asset_ListSoapIn" />
      <wsdl:output message="tns:getBudget_Asset_ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_List_Count">
      <wsdl:input message="tns:getBudget_Asset_List_CountSoapIn" />
      <wsdl:output message="tns:getBudget_Asset_List_CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetDetail">
      <wsdl:input message="tns:getBudget_AssetDetailSoapIn" />
      <wsdl:output message="tns:getBudget_AssetDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset">
      <wsdl:input message="tns:getBudget_AssetSoapIn" />
      <wsdl:output message="tns:getBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_Count">
      <wsdl:input message="tns:getBudget_Asset_CountSoapIn" />
      <wsdl:output message="tns:getBudget_Asset_CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkBudget_Asset">
      <wsdl:input message="tns:checkBudget_AssetSoapIn" />
      <wsdl:output message="tns:checkBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setBudget_Asset">
      <wsdl:input message="tns:setBudget_AssetSoapIn" />
      <wsdl:output message="tns:setBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setBudget_AssetRemark">
      <wsdl:input message="tns:setBudget_AssetRemarkSoapIn" />
      <wsdl:output message="tns:setBudget_AssetRemarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteBudget_Asset">
      <wsdl:input message="tns:deleteBudget_AssetSoapIn" />
      <wsdl:output message="tns:deleteBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendBudget_Asset">
      <wsdl:input message="tns:sendBudget_AssetSoapIn" />
      <wsdl:output message="tns:sendBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmBudget_Asset">
      <wsdl:input message="tns:confirmBudget_AssetSoapIn" />
      <wsdl:output message="tns:confirmBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="approveBudget_Asset">
      <wsdl:input message="tns:approveBudget_AssetSoapIn" />
      <wsdl:output message="tns:approveBudget_AssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetSummary">
      <wsdl:input message="tns:getBudget_AssetSummarySoapIn" />
      <wsdl:output message="tns:getBudget_AssetSummarySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Budget_AssetSoap" type="tns:Budget_AssetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMasterData">
      <soap:operation soapAction="http://tempuri.org/getMasterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetByID">
      <soap:operation soapAction="http://tempuri.org/getBudget_AssetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetByID_Count">
      <soap:operation soapAction="http://tempuri.org/getBudget_AssetByID_Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetSummaryByID">
      <soap:operation soapAction="http://tempuri.org/getBudget_AssetSummaryByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/adjustBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_List">
      <soap:operation soapAction="http://tempuri.org/getBudget_Asset_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_List_Count">
      <soap:operation soapAction="http://tempuri.org/getBudget_Asset_List_Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetDetail">
      <soap:operation soapAction="http://tempuri.org/getBudget_AssetDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/getBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_Count">
      <soap:operation soapAction="http://tempuri.org/getBudget_Asset_Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/checkBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/setBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBudget_AssetRemark">
      <soap:operation soapAction="http://tempuri.org/setBudget_AssetRemark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/deleteBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/sendBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/confirmBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveBudget_Asset">
      <soap:operation soapAction="http://tempuri.org/approveBudget_Asset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetSummary">
      <soap:operation soapAction="http://tempuri.org/getBudget_AssetSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Budget_AssetSoap12" type="tns:Budget_AssetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMasterData">
      <soap12:operation soapAction="http://tempuri.org/getMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetByID">
      <soap12:operation soapAction="http://tempuri.org/getBudget_AssetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetByID_Count">
      <soap12:operation soapAction="http://tempuri.org/getBudget_AssetByID_Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetSummaryByID">
      <soap12:operation soapAction="http://tempuri.org/getBudget_AssetSummaryByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/adjustBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_List">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Asset_List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_List_Count">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Asset_List_Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetDetail">
      <soap12:operation soapAction="http://tempuri.org/getBudget_AssetDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Asset_Count">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Asset_Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/checkBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/setBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBudget_AssetRemark">
      <soap12:operation soapAction="http://tempuri.org/setBudget_AssetRemark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/deleteBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/sendBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/confirmBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveBudget_Asset">
      <soap12:operation soapAction="http://tempuri.org/approveBudget_Asset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_AssetSummary">
      <soap12:operation soapAction="http://tempuri.org/getBudget_AssetSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Budget_Asset">
    <wsdl:port name="Budget_AssetSoap" binding="tns:Budget_AssetSoap">
      <soap:address location="http://localhost:56867/Budget_Asset.asmx" />
    </wsdl:port>
    <wsdl:port name="Budget_AssetSoap12" binding="tns:Budget_AssetSoap12">
      <soap12:address location="http://localhost:56867/Budget_Asset.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>