IRGT/App_WebReferences/IRGT_Service/Budget_Operation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getMasterData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMasterDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMasterDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Type_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_OperationByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationByID_Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Type_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationByID_CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBudget_OperationByID_CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationSummaryByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationSummaryByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_OperationSummaryByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adjustBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Qty_Adj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Price_Adj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adjustBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="adjustBudget_OperationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Operation_List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loc_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Operation_ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_Operation_ListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Operation_List_Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loc_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Operation_List_CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBudget_Operation_List_CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_OperationDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Type_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_OperationResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Operation_Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Type_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_Operation_CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBudget_Operation_CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkBudget_OperationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Type_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Qty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BO_Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setBudget_OperationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteBudget_OperationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendBudget_OperationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="confirmBudget_OperationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="approveBudget_Operation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BO_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="approveBudget_OperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="approveBudget_OperationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_TH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMSG_EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudget_OperationSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudget_OperationSummaryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getMasterDataSoapIn">
    <wsdl:part name="parameters" element="tns:getMasterData" />
  </wsdl:message>
  <wsdl:message name="getMasterDataSoapOut">
    <wsdl:part name="parameters" element="tns:getMasterDataResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_OperationByID" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_OperationByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationByID_CountSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_OperationByID_Count" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationByID_CountSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_OperationByID_CountResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationSummaryByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_OperationSummaryByID" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationSummaryByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_OperationSummaryByIDResponse" />
  </wsdl:message>
  <wsdl:message name="adjustBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:adjustBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="adjustBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:adjustBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_Operation_ListSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Operation_List" />
  </wsdl:message>
  <wsdl:message name="getBudget_Operation_ListSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_Operation_ListResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_Operation_List_CountSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Operation_List_Count" />
  </wsdl:message>
  <wsdl:message name="getBudget_Operation_List_CountSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_Operation_List_CountResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_OperationDetail" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_OperationDetailResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_Operation_CountSoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_Operation_Count" />
  </wsdl:message>
  <wsdl:message name="getBudget_Operation_CountSoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_Operation_CountResponse" />
  </wsdl:message>
  <wsdl:message name="checkBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:checkBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="checkBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:checkBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="setBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:setBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="setBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:setBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="deleteBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:deleteBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="deleteBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:deleteBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="sendBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:sendBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="sendBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:sendBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="confirmBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:confirmBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="confirmBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:confirmBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="approveBudget_OperationSoapIn">
    <wsdl:part name="parameters" element="tns:approveBudget_Operation" />
  </wsdl:message>
  <wsdl:message name="approveBudget_OperationSoapOut">
    <wsdl:part name="parameters" element="tns:approveBudget_OperationResponse" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationSummarySoapIn">
    <wsdl:part name="parameters" element="tns:getBudget_OperationSummary" />
  </wsdl:message>
  <wsdl:message name="getBudget_OperationSummarySoapOut">
    <wsdl:part name="parameters" element="tns:getBudget_OperationSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="Budget_OperationSoap">
    <wsdl:operation name="getMasterData">
      <wsdl:input message="tns:getMasterDataSoapIn" />
      <wsdl:output message="tns:getMasterDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationByID">
      <wsdl:input message="tns:getBudget_OperationByIDSoapIn" />
      <wsdl:output message="tns:getBudget_OperationByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationByID_Count">
      <wsdl:input message="tns:getBudget_OperationByID_CountSoapIn" />
      <wsdl:output message="tns:getBudget_OperationByID_CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationSummaryByID">
      <wsdl:input message="tns:getBudget_OperationSummaryByIDSoapIn" />
      <wsdl:output message="tns:getBudget_OperationSummaryByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="adjustBudget_Operation">
      <wsdl:input message="tns:adjustBudget_OperationSoapIn" />
      <wsdl:output message="tns:adjustBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_List">
      <wsdl:input message="tns:getBudget_Operation_ListSoapIn" />
      <wsdl:output message="tns:getBudget_Operation_ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_List_Count">
      <wsdl:input message="tns:getBudget_Operation_List_CountSoapIn" />
      <wsdl:output message="tns:getBudget_Operation_List_CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationDetail">
      <wsdl:input message="tns:getBudget_OperationDetailSoapIn" />
      <wsdl:output message="tns:getBudget_OperationDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation">
      <wsdl:input message="tns:getBudget_OperationSoapIn" />
      <wsdl:output message="tns:getBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_Count">
      <wsdl:input message="tns:getBudget_Operation_CountSoapIn" />
      <wsdl:output message="tns:getBudget_Operation_CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkBudget_Operation">
      <wsdl:input message="tns:checkBudget_OperationSoapIn" />
      <wsdl:output message="tns:checkBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setBudget_Operation">
      <wsdl:input message="tns:setBudget_OperationSoapIn" />
      <wsdl:output message="tns:setBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteBudget_Operation">
      <wsdl:input message="tns:deleteBudget_OperationSoapIn" />
      <wsdl:output message="tns:deleteBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendBudget_Operation">
      <wsdl:input message="tns:sendBudget_OperationSoapIn" />
      <wsdl:output message="tns:sendBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmBudget_Operation">
      <wsdl:input message="tns:confirmBudget_OperationSoapIn" />
      <wsdl:output message="tns:confirmBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="approveBudget_Operation">
      <wsdl:input message="tns:approveBudget_OperationSoapIn" />
      <wsdl:output message="tns:approveBudget_OperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationSummary">
      <wsdl:input message="tns:getBudget_OperationSummarySoapIn" />
      <wsdl:output message="tns:getBudget_OperationSummarySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Budget_OperationSoap" type="tns:Budget_OperationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMasterData">
      <soap:operation soapAction="http://tempuri.org/getMasterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationByID">
      <soap:operation soapAction="http://tempuri.org/getBudget_OperationByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationByID_Count">
      <soap:operation soapAction="http://tempuri.org/getBudget_OperationByID_Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationSummaryByID">
      <soap:operation soapAction="http://tempuri.org/getBudget_OperationSummaryByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/adjustBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_List">
      <soap:operation soapAction="http://tempuri.org/getBudget_Operation_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_List_Count">
      <soap:operation soapAction="http://tempuri.org/getBudget_Operation_List_Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationDetail">
      <soap:operation soapAction="http://tempuri.org/getBudget_OperationDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/getBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_Count">
      <soap:operation soapAction="http://tempuri.org/getBudget_Operation_Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/checkBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/setBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/deleteBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/sendBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/confirmBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveBudget_Operation">
      <soap:operation soapAction="http://tempuri.org/approveBudget_Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationSummary">
      <soap:operation soapAction="http://tempuri.org/getBudget_OperationSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Budget_OperationSoap12" type="tns:Budget_OperationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMasterData">
      <soap12:operation soapAction="http://tempuri.org/getMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationByID">
      <soap12:operation soapAction="http://tempuri.org/getBudget_OperationByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationByID_Count">
      <soap12:operation soapAction="http://tempuri.org/getBudget_OperationByID_Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationSummaryByID">
      <soap12:operation soapAction="http://tempuri.org/getBudget_OperationSummaryByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/adjustBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_List">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Operation_List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_List_Count">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Operation_List_Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationDetail">
      <soap12:operation soapAction="http://tempuri.org/getBudget_OperationDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_Operation_Count">
      <soap12:operation soapAction="http://tempuri.org/getBudget_Operation_Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/checkBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/setBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/deleteBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/sendBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/confirmBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveBudget_Operation">
      <soap12:operation soapAction="http://tempuri.org/approveBudget_Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudget_OperationSummary">
      <soap12:operation soapAction="http://tempuri.org/getBudget_OperationSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Budget_Operation">
    <wsdl:port name="Budget_OperationSoap" binding="tns:Budget_OperationSoap">
      <soap:address location="http://localhost:56867/Budget_Operation.asmx" />
    </wsdl:port>
    <wsdl:port name="Budget_OperationSoap12" binding="tns:Budget_OperationSoap12">
      <soap12:address location="http://localhost:56867/Budget_Operation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>